<a href="https://colab.research.google.com/github/KOLLAVARSH/PYTHON-PROJECT/blob/main/functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def my_function():
   print("sunrisers won by 7 wickets")
my_function()

sunrisers won by 7 wickets

In [ ]:
def my_function(fname) :
    print(fname + " willimson")
my_function("kane")
my_function("srh caption")
my_function("cool caption")

kane willimson
srh caption willimson
cool caption willimson

In [ ]:
def my_function(fname,iname) :
      print(fname + " " + iname)
my_function("kane","willimson")

kane willimson

In [ ]:
def my_function(fname,iname) :
      print(fname + " " + iname)
my_function("yes you are","eligible for vote")

yes you are eligible for vote

In [ ]:
def my_function(g,i,f) :
     print(g + "male")
     print(i + "varsh")
     print(f + "18")
my_function("genter:","name:","age:")

genter:male
name:varsh
age:18

In [ ]:
def my_function(*srh):
  print("kane willimson is caption of " + srh[2])

my_function("cool", "srh", "newzland")

kane willimson is caption of newzland

In [ ]:
def voting(age) :
     print(age>=18)
voting(18)
voting(34)
voting(43)

True
True
True

In [4]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "varsh", child2 = "prajwal", child3 = "puskar")

The youngest child is puskar

In [6]:
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "prajwal", lname = "varsh")

His last name is varsh

In [8]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [10]:
def my_function(food) :
  for x in food :
    print(x)

fruits = ["apple" , "banana" , "mango"]
my_function(fruits)

apple
banana
mango

In [16]:
def my_function(x) :
 return 5 * x
print(my_function(3))
print(my_function(5))
print(my_function(6))

15
25
30