<a href="https://colab.research.google.com/github/KOLLAVARSH/PYTHON-PROJECT/blob/main/lists_and_strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
thislist = ["apple","mango","banana"]
print(len(thislist))

3

In [3]:
thislist = ["apple","mango","banana"]
print(type(thislist))

<class 'list'>

In [5]:
thislist = list(("apple","mango","banana"))
print(thislist)

['apple', 'mango', 'banana']

In [7]:
thislist = ["apple","mango","banana","kiwi","water melon"]
print(thislist[1])

mango

In [10]:
thislist = ["apple","mango","banana","kiiwi","water melon"]
print(thislist[-1])

water melon

In [16]:
thislist = ["apple","mango","banana","kiiwi","water melon"]
print(thislist[:2])

['apple', 'mango']

In [12]:
thislist = ["apple","mango","banana","kiiwi","water melon"]
print(thislist[-4:-1])

['mango', 'banana', 'kiiwi']

In [17]:
thislist = ["apple","mango","banana","kiiwi","water melon"]
print(thislist[2:5])

['banana', 'kiiwi', 'water melon']

In [19]:
thislist = ["apple","mango","banana","kiiwi","water melon"]
print(thislist[4:])

['water melon']

In [26]:
thislist = ["apple","mango","banana","kiiwi","water melon"]
if "apple" in thislist :
  print("yes,'apple'in the list")
else : 
 print ("no,'apple'in the list")

yes,'apple'in the list

In [29]:
thislist = ["apple","mango","banana","kiiwi","water melon"]
thislist.append("orange")
print(thislist)

['apple', 'mango', 'banana', 'kiiwi', 'water melon', 'orange']

In [37]:
thislist = ["apple","mango","banana","kiiwi","water melon"]
thislist.insert(0,"orange")
print(thislist)

['orange', 'apple', 'mango', 'banana', 'kiiwi', 'water melon']

In [35]:
list1 = ["apple","mango","banana","kiiwi","water melon"]
list2 = ["apple","mango","banana","kiwi","orange"]
list1.extend(list2)
print(list1)

['apple', 'mango', 'banana', 'kiiwi', 'water melon', 'apple', 'mango', 'banana', 'kiwi', 'orange']

In [38]:
thislist = ["apple","mango","banana","kiiwi","water melon"]
thislist.remove("apple")
print(thislist)

['mango', 'banana', 'kiiwi', 'water melon']

In [40]:
thislist = ["apple","mango","banana","kiiwi","water melon"]
thislist.pop(1)
print(thislist)

['apple', 'banana', 'kiiwi', 'water melon']

In [42]:
thislist = ["apple","mango","banana","kiiwi","water melon"]
thislist.pop()
print(thislist)

['apple', 'mango', 'banana', 'kiiwi']

In [44]:
thislist = ["apple","mango","banana","kiiwi","water melon"]
del thislist[0]
print(thislist)

['mango', 'banana', 'kiiwi', 'water melon']

In [46]:
thislist = ["apple","mango","banana","kiiwi","water melon"]
thislist.clear()
print(thislist)

[]

In [48]:
thislist = ["apple","mango","banana","kiiwi","water melon"]
mylist = thislist.copy()
print(mylist)

['apple', 'mango', 'banana', 'kiiwi', 'water melon']

In [50]:
thislist = ["apple","mango","banana","kiiwi","water melon"]
thislist =  list(thislist)
print(mylist)

['apple', 'mango', 'banana', 'kiiwi', 'water melon']

In [52]:
thislist = ["apple","mango","banana","kiiwi","water melon"]
thislist1 = [1,2,3]
thislist2 = thislist + thislist1
print(thislist2)

['apple', 'mango', 'banana', 'kiiwi', 'water melon', 1, 2, 3]

In [55]:
thislist = ["apple","mango","banana","kiiwi","water melon"]
thislist1 = [1,2,3]
thislist.extend(thislist1)
print(thislist)

['apple', 'mango', 'banana', 'kiiwi', 'water melon', 1, 2, 3]

In [57]:
thislist = ["apple","mango","banana","kiiwi","water melon"]
thislist.sort()
print(thislist)

['apple', 'banana', 'kiiwi', 'mango', 'water melon']

In [62]:
thislist = ["apple","mango","banana","kiiwi","water melon"]
thislist.remove("mango")
print(thislist)

['apple', 'banana', 'kiiwi', 'water melon']

In [67]:
thislist = ["100","50","65","82","23"]
thislist.sort()
print(thislist)

['100', '23', '50', '65', '82']

In [68]:
thislist = ["apple","mango","banana","kiiwi","water melon"]
thislist.reverse()
print(thislist)

['water melon', 'kiiwi', 'banana', 'mango', 'apple']

In [75]:
thislist = ["apple","mango","banana","kiiwi","water melon"]
for x in thislist :
 print(x)

apple
mango
banana
kiiwi
water melon

In [77]:
thislist = ["apple","mango","banana","kiiwi","water melon"]
for i in range(len(thislist)) :
  print(thislist[i])

apple
mango
banana
kiiwi
water melon

In [80]:
#strings
a = "hello"
print(a)

hello

In [82]:
a = "hello,world"
print(a[1])

e

In [85]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [88]:
a = "hello,world"
print(len(a))

11

In [92]:
a = "RRR movie has been released"
print("rrr"in a)

False

In [94]:
tex =  "SRH won the ipl final in 2016"
print("SRH"in tex)

True

In [96]:
tex = "SRH won the ipl final in 2016"
print("srh"in tex)

False

In [98]:
tex = "SRH won the ipl final in 2016"
if "SRH" in tex :
  print("yes,SRH in tex")

yes,SRH in tex

In [100]:
tex = "SRH won the ipl final in 2016"
print("SRH" not in tex)

False

In [108]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

In [110]:
a = "hello,world"
print(a[2:5])

llo

In [112]:
a = "hello,world"
print(a[:2])

he

In [114]:
a = "hello,world"
print(a[5:])

,world

In [116]:
a = "hello,world"
print(a[-5:-1])

worl

In [118]:
a = "luknow super giants need 133 runs in 73 balls"
print(a.upper())

LUKNOW SUPER GIANTS NEED 133 RUNS IN 73 BALLS

In [120]:
a = "luknow super giants need 133 runs in 73 balls"
print(a.lower())

luknow super giants need 133 runs in 73 balls

In [122]:
a = "luknow super giants need 133 runs in 73 balls"
print(a.strip())

luknow super giants need 133 runs in 73 balls

In [124]:
a = "luknow super giants need 133 runs in 73 balls"
print(a.replace("l","y"))

yuknow super giants need 133 runs in 73 bayys

In [126]:
a = "luknow super giants need 133 runs in 73 balls"
print(a.split(","))

['luknow super giants need 133 runs in 73 balls']

In [128]:
a = "luknow super giants need 133 runs in 73 balls"
b = "chenni won by 10 runs"
c = a + b
print(c)

luknow super giants need 133 runs in 73 ballschenni won by 10 runs

In [130]:
a = "luknow super giants need 133 runs in 73 balls"
b = "chenni won by 10 runs"
c = a + " " + b
print(c)

luknow super giants need 133 runs in 73 balls chenni won by 10 runs

In [133]:
age = 19
tex = "my name is KOLLA VARSH , i am {} years old"
print(tex.format(age))

my name is KOLLA VARSH , i am 19 years old

In [136]:
quantity = 3
itemno = 734
price = 599.00
myorder = "i want {} piece of item {} for {} doller."
print(myorder.format(quantity,itemno,price))

i want 3 piece of item 734 for 599.0 doller.

In [138]:
quantity = 3
item = 8743
price = 6999
myorder = "i want to pay {2} doller for {0} pieces of item {1}"
print(myorder.format(quantity,itemno,price))

i want to pay 6999 doller for 3 pieces of item 734

In [140]:
tex = "we are so called \"vikings\" form the north"
print(tex)

we are so called "vikings" form the north

In [143]:
a = "luknow\'s super giants need 133 runs in 73 balls"
print(a)

luknow's super giants need 133 runs in 73 balls

In [145]:
a = "luknow super giants need \n 133 runs in 73 balls"
print(a)

luknow super giants need
 133 runs in 73 balls

In [148]:
a = "luknow super giants need 133 runs in \r 73 balls"
print(a)

 73 balls

In [150]:
a = "luknow super giants need \\ 133 runs in 73 balls"
print(a)

luknow super giants need \ 133 runs in 73 balls

In [153]:
a = "luknow super giants need \b133 runs in 73 balls"
print(a)

luknow super giants need 133 runs in 73 balls

In [156]:
a = "\110\145\154\154\157"
print(a)

Hello

In [160]:
a = "luknow super giants need 133 runs in 73 balls"
x = a.capitalize()
print(x)

Luknow super giants need 133 runs in 73 balls

In [163]:
a = "Luknow super giants need 133 runs in 73 balls"
x =  a.casefold()
print(x)

luknow super giants need 133 runs in 73 balls

In [5]:
a = "banana"
x = a.center(20)
print(x)

       banana

In [7]:
a = "luknow super giants need 133 runs in 73 balls"
x = a.count("super")
print(x)

1