<a href="https://colab.research.google.com/github/KOLLAVARSH/PYTHON-PROJECT/blob/main/Quiz_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#largest among 3 numbers
a=5
b=3
c=2
if a>b and a>c :
    print(a)
elif b>a and b>c :
    print(b)
else  :
    print(c)

5

In [2]:
#square root of number
number = int(input())
sqrt = number ** 0.5
print(sqrt)

2
1.4142135623730951

In [3]:
#Add Black color to the given list in the 4th place.
#Rainbow = ['Red', 'Orange', 'Yellow', 'Green'] 

Rainbow =  ['Red', 'Orange', 'Yellow', 'Green']
Rainbow.insert (3,"Black")
print(Rainbow)

['Red', 'Orange', 'Yellow', 'Black', 'Green']

In [5]:
#swapping of two numbers
a=2
b=3
a=a+b
b=a-b
a=a-b
print("Result =",a,b)

Result = 3 2

In [24]:
#print the given list
list = ["1","2","3","4"]
print(list)

['1', '2', '3', '4']

In [10]:
# print the name in list
fruits = ["banana","apple","cherry"]
print(fruits[1])

apple

In [14]:
#negative indexing
fruits = ["banana","apple","cherry"]
print(fruits[-1])

cherry

In [16]:
# list out some of the fruits in the list
fruits = ["apple","banana","cherry","water melon","kwik","jack fruit","mango"]
print(fruits[2:5])

['cherry', 'water melon', 'kwik']

In [18]:
# list out the names in list for neg range
fruits = ["apple","banana", "cherry","water melon","kwik","jack","mango"]
print(fruits[-4:-1])

['water melon', 'kwik', 'jack']

In [17]:
# list out some of the fruits in the list up to given range
fruits = ["apple","banana","cherry","water melon","kwik","jack fruit","mango"]
print(fruits[:4])

['apple', 'banana', 'cherry', 'water melon']

In [25]:
#length of the list
fruits = ["apple","banana","cherry","mango"]
print(len(fruits))

4

In [26]:
# change the item
fruits = ["apple", "banana", "cherry"]
fruits[1] = "blackcurrant"
print(fruits)

['apple', 'blackcurrant', 'cherry']

In [28]:
# names add to the list in range
fruits = ["apple", "banana", "cherry"]
fruits[1] = "blackcurrant"
print(fruits)

['apple', 'blackcurrant', 'cherry']

In [30]:
# insert in the list
fruits = ["apple","banana","mango"]
fruits.insert(2,"jack fruit")
print(fruits)

['apple', 'banana', 'jack fruit', 'mango']