<a href="https://colab.research.google.com/github/KOLLAVARSH/PYTHON-PROJECT/blob/main/string.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#insert name in list
fruits = ["apple","mango","cherry"]
fruits.insert(1,"orange")
print(fruits)

['apple', 'orange', 'mango', 'cherry']

In [4]:
#addition of names
fruit = ["mango"]
fruits = ["apple","banana","cherry"]
fruit.extend(fruits)
print(fruits)

['apple', 'banana', 'cherry']

In [6]:
# upper case
a = "rrr movie has been released"
print(a.upper())

RRR MOVIE HAS BEEN RELEASED

In [8]:
# lower case
a = "RRR MOVIE HAS BEEN RELEASED"
print(a.lower())

rrr movie has been released

In [13]:
# remove white space
a = "       RRR movie       has been released"
print(a.strip())

RRR movie       has been released

In [16]:
# replace the letter
a = "Volla varsh"
print(a.replace("V","K"))

Kolla varsh

In [18]:
#replacing the word
a = "RRR movie has been released"
print(a.replace("RRR","WATER AND FIRE"))

WATER AND FIRE movie has been released

In [25]:
# split string
a = "RRR movie has , been released"
print(a.split(","))

['RRR movie has ', ' been released']

In [31]:
# string concatenation
a = "RRR movie has been released"
b = "i went to movie with my friends"
c = a+b
print(c)

RRR movie has been releasedi went to movie with my friends

In [33]:
# string concatenation with space
a = "RRR movie has been released"
b = "i went to movie with my friends"
c = a + " "+b
print(c)

RRR movie has been released i went to movie with my friends

In [41]:
quantity = int(input("enter quantity"))
itemno = int(input("enter item number"))
price = int(input("enter amount"))
total = quantity * price
bill = "i buy {} bags itemno is {} total price is {}"
print(bill.format(quantity,itemno,total))

enter quantity2
enter item number3898
enter amount1200
i buy 2 bags itemno is 3898 total price is 2400

In [42]:
#marks
a = int(input("enter the marks"))
b = int(input("enter the marks"))
c = int(input("enter the marks"))
d = int(input("enter the marks"))
result = "sub a {},sub b {},sub c {},sub d {}"
print(result.format(a,b,c,d))

enter the marks45
enter the marks67
enter the marks89
enter the marks90
sub a 45,sub b 67,sub c 89,sub d 90

In [47]:
#escape characters
a = "We are the so-called \"Vikings\" from the north."
print(a)

We are the so-called "Vikings" from the north.

In [49]:
text = "This will insert one \\ (backslash)."
print(text)

This will insert one \ (backslash).

In [51]:
#new line
text = "hello\nworld"
print(text)

hello
world

In [56]:
#octal
a = "\75\79\76\76\65"
print(a)

=9>>5

In [60]:
#string methodes
a = "varsh"
b = a.capitalize()
print(b)

Varsh

In [65]:
a = "varsh"
b = a.casefold()
print(b)

varsh

In [66]:
a = "varsh"
b = a.center(30)
print(b)

            varsh