<a href="https://colab.research.google.com/github/KOLLAVARSH/PYTHON-PROJECT/blob/main/Tuple%201.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
mytuple = ("varsh","amruth","prajwal","ashok","banu")
print(len(mytuple))

5

In [2]:
mytuple = ("varsh",)
print(type(mytuple))

<class 'tuple'>

In [3]:
mytuple = ("varsh")
print(type(mytuple))

<class 'str'>

In [6]:
tuple1 = ("varsh", "banu", "amruth")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

print(tuple1)
print(tuple2)
print(tuple3)

('varsh', 'banu', 'amruth')
(1, 5, 7, 9, 3)
(True, False, False)

In [7]:
tuple = ("abc", 34, True, 40, "male")

print(tuple)

('abc', 34, True, 40, 'male')

In [8]:
mytuple = ("varsh", "banu", "amruth")

print(type(mytuple))

<class 'tuple'>

In [13]:
thistuple = ("varsh","amruth","prajwal")
print(thistuple[1])

amruth

In [15]:
thistuple = ("varsh","amruth","prajwal")
print(thistuple[-1])

prajwal

In [18]:
thistuple = ("varsh","amruth","prajwal","ashok","banu")
print(thistuple[2:5])

('prajwal', 'ashok', 'banu')

In [22]:
thistuple = ("varsh","amruth","prajwal","ashok","banu")
print(thistuple[:2])

('varsh', 'amruth')

In [23]:
thistuple = ("varsh","amruth","prajwal","ashok","banu")
print(thistuple[4:])

('banu',)

In [28]:
thistuple = ("varsh","amruth","prajwal","ashok","banu")
if "amruth" in thistuple  :
   print("yes,'amruth'is in the thistuple")

yes,'amruth'is in the thistuple

TypeError: ignored